.button {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
