.info {
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 5px 10px;
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 10px;
}

.alive {
  background-color: green;
}

.dead {
  background-color: red;
}
